 /* Etiquetas */
* {
        margin: 0;
        padding: 10;
        box-sizing: border-box;
} 

 div {
    padding: 20px;
}

h1 {
    text-align: center;
    background-color:antiquewhite;
}

h2 {
    text-align: left;
}

h4 {
    font-size:50px;
    text-align: center;

}

footer {
    background-color: wheat;
    text-align: center;
    font-weight: bold;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 /* Clases */

.acercaDeMi {
    background-image: url("../Recursos/Imagenes/universo.jpeg");
    color: white;
    align-items: center;
    text-align: center;
}

.primerColor {
    height: 100%;
    background-color:lightpink;
    
}

.segundoColor {
    background-color: wheat;
}

.figura {
    display: flex;
}

.infoDelfin {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
    font-style: italic;
    align-items: center;
    justify-content: center;
    background-color: sandybrown;
    
}

 /* Barra Lateral */
    .social-bar {
        position: fixed;
        right: 0;
        top: 35%;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
    }

    .icon {
        color: white;
        text-decoration: none;
        padding: .7rem;
        display: flex;
        transition: all .5s;
    }

    .icon-facebook {
        background: #2E406E;
    }

    .icon-youtube {
        background: #E83028;
    }

    .icon-instagram {
        background: #3F60A5;
    }

    .icon:first-child {
        border-radius: 1rem 0 0 0;
    }

    .icon:last-child {
        border-radius: 0 0 0 1rem;
    }

    .icon:hover {
        padding-right: 3rem;
        border-radius: 1rem 0 0 1rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    }

    @font-face {
        font-family: 'icomoon';
        src:  url('../fonts/icomoon.eot?i226ha');
        src:  url('../fonts/icomoon.eot?i226ha#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?i226ha') format('truetype'),
          url('../fonts/icomoon.woff?i226ha') format('woff'),
          url('../fonts/icomoon.svg?i226ha#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
      }
      
      [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .icon-facebook:before {
        content: "\ea90";
      }
      .icon-instagram:before {
        content: "\ea92";
      }
      .icon-youtube:before {
        content: "\ea9d";
      }