 * {
        margin: 0;
        padding: 10;
        box-sizing: border-box;
} 

 div {
    padding: 20px;
}

h1 {
    text-align: center;
    background-color:antiquewhite;
}

h2 {
    text-align: left;
}

h4 {
    font-size:50px;
    text-align: center;

}

.primerColor {
    height: 100%;
    background-color:lightpink;
    
}

.segundoColor {
    background-color: wheat;
}

.figura {
    display: flex;
}

.infoDelfin {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

footer {
    
}