
html{
    font-size: 15px;

}

.u-em {
    background-color: greenyellow;
    font-size: 3rem;
    width: 50%;
    /* 5em es igual a 5 veces el tamaño de fuente dek elemento
    3rem(15*3)=45 */
    padding: 5em 3em;
}

/* body{
    background-color: mediumseagreen;
} */

.u-port{
    background-color: aqua;
    width: 50%;
    height: 20px;
}

.productos{
    background-color: chartreuse;
    height: 100vh;
    width: 70vw;
}

.overflow{
    width: 200px;
    height: 5em;
    background-color: aquamarine;
    overflow: auto;
}