/*Selector adyacente*/

.titulo + p {
    border-top: 5px solid blue;
}

.titulo:hover{
    background-color: red;
    color: white;
}

#lista1 li:first-child {
    background-color: gold;
}

#lista1 li:last-child {
    box-shadow: 15px 15px 15px green;
}

#lista1 li:nth-child(5){
    font-variant: small-caps;
    background-color: blue;
}

/*odd-impar. even-par */
#lista2 li:nth-child(even){
    background-color: gray;
    color:white;
}

p::first-line {
    font-size: 50px;
}

p::first-letter{
    font-size: 100px;
    box-shadow: -10px -15px 20px black;
}
 /*solid-solido. dotted-puntos*/
#grupo {

    display: inline;
    /*5opx todos los lados*/
    padding: 100px;
    /*50px arriba-abajo
        10px izqu-der*/
        padding: 70px 10px;

    /*50px arriba
        10px izq-der
        80px abajo*/
    padding: 70px 10px 80px;


    padding: 100px 10px 80px 100px;

    /*Otra opcion, son lo mismo que lo de arriba*/
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 100px;

    border: 50px solid tomato;

    border-top: 50px groove red;
    border-bottom: 10px dashed blue;
    border-left: 20px solid green;
    border-right: 50px solid gold;

    margin: 50px;
}

blockquote {
    display: inline;
}

#bandera {
    border: 20px solid black;
    border-top: 20px groove black;
    border-top-left-radius: 20px groove black;

    border-left: 500px solid green;
    border-right: 500px solid red;
    text-align: center;
    padding: 100px;
}