/* Selector adyacente */

.titulo + p{
    border-top: 3px solid blue;
}

.titulo:hover{
    background-color: red;
    color: white;
}

ul li:first-child {
    background-color: gold;
}

ul li:last-child {
    box-shadow: 5px 5px 5px green;
}

ul li:nth-child(4) {
    font-variant: small-caps;
    background-color: blue;
}