/* Selector de tipo */


p {
    font-size: 80px; 
 }
 
 /* Selector por id */
 
 #parrafo-sel-id {
     background-color: #EBC7E8;
     border-radius: 10px;
 }
 
 /* Selector de clase */
 
 .error {
     color: black;
     background-color: #E1FFEE;
 }
 
 /* Selector por atributo */
 /* p[lang] {
     border: 3px dashed blue;
 }
  */
 
 /* Selector por atributo valor especial */
 p[lang="es"] {
     background-color: #FFC4C4;
 }
 
 /* Selector por atributo, buscando
 un valor inicial */
 
 a[href^="https"] {
     background-color: #FFE9AE;
 }
 
 /* Selector por atributo, buscando
 un valor final */
 a[href$="mx"] {
     background-color: #8FE3CF;
 }
 
 /* Selector por atributo, buscando
 un valor sin importar la posicion
 donde se encuentre */
 a[href*="you"] {
     border: 3px groove #FFDEB4;
 }
 
 /* Selector por descendientes */
 section p {
     font-size: 3px;
 }
 
 /* Selector por hijos directos */
 section > p {
     font-size:25px;
 }
 
 /* Selector hermano general */
 #p-ini ~ p {
    background-color: #94B49F;  
 }
