* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: #EBC7E8;
    color: black;
    padding: 20px;
}

nav ul {
    background-color: #FFFDDE;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    color: black;
    padding: 10px;
    width: 200px;

}

nav li:hover {
    background-color: #FAD9A1;
}


.contenido {
    display: flex;
    margin: 200px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: 160px;
}

.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
}