.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    border: 2px solid black;
}

.color-verde{
    border: 2px solid black;
    width: 33%;
    height: 100%;
    background-color: green;
}

.color-blanco{
    border: 2px solid black;
    width: 33%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-rojo{
    border: 2px solid black;
    width: 33%;
    height: 100%;
    background-color: red
}