/* Selector de tipo */

p {
    font-size:80px;
}

/* Selector por id */

#parrafo-sel-id {
    background-color: blue;
    border-radius: 10px;
}
/* Selector por id */

.error {
    color: red;
    background-color: burlywood;
}
/* Selector por atributo */

p[lang="es"] {
    border: 3xp dashed blue;
   
}

/* Selector por atributo */

p[lang$="mx"] {
    background-color:red;
   
}

/* Selector por atributos, buscando un valor sin importar la posicion donde se encuentre */
a[href^="https"] {
    background-color: greenyellow



/* Selector por descendientes */

section > p {
    font-size:3px;
}

/* Selector por hijos directos */

section > p {
    font-size:25px;
}

/* Selector hermano general */

#p-ini ~ p{
    background-color: red;
}