body {background-color: beige;}

h1 {background-color: rgb(253, 253, 186);
    color: rgb(97, 61, 22);
    font-family: 'Century Gothic';}

a {color:rgb(74, 97, 22); font-family: 'Century Gothic';}

h2 {background-color: rgb(253, 253, 186);
    color: rgb(97, 61, 22);
    font-family: 'Century Gothic';}

p {color:rgb(74, 97, 22); font-family: 'Century Gothic';}

