body {background-color:rgb(255, 249, 233);}

h1 {background-color:rgb(238, 216, 147);
color: rgb(97, 61, 22);
font-family: 'Century Gothic';}

a {color:rgb(97, 61, 22); font-family: 'Century Gothic';}
