p {font-size: 20px;
    color: purple;}
 
    /*selector por id*/
 #id_jpd{font-size: 20px;
         color: darkblue;
         border-radius: 10px;
        }
 
     /*selector pot clase*/
 #caja1 {font-size: 20px;
         color: black;
         border-radius: 70px;
         background-color: green; }

         /*selector de atributo*/
         p[:lang] {
             border: 3px dashed blue:
         }

         /* Selector por atributo valor especial   */
p[lang="es"] {
    background-color: palevioletred;

}

/* Selector por atributo, buscando un valor  inicial */
a[href$="mx"] {
    background-color: darkred;
}

/* Selector por atributo, buscando un valor  inicial */
a[href^="https"] {
    background-color: olive;
}

/* Selelctor por atributo, buscando unvalor especial sin importar la posicion donde se enscuente */
a[href*="you"] {
    border: 3px groove magenta;
}

/*Selector por desendientes */
section p{
    font-size :3px; ;
}
/* Selector por hijos directos*/

section > p {
    font-size: 25px;
}