.titulo + p {
  border-top: 3px solid blue;
}

.titulo:hover {
  background-color: aqua;
  color: white;
}

/* 
ul li:first-child{
    background-color: aquamarine;
}

ul li:last-child{
    
    box-shadow: 5px 5px 5px mediumpurple;
}

ul li:nth-child(4){
    font-variant: small-caps;
    background-color: burlywood;
} 

 */

#lista-1 li:first-child {
  background-color: aquamarine;
}

#lista-1 li:last-child {
  box-shadow: 5px 5px 5px mediumpurple;
}

/* Odd Es impar */
/* Even Impar */

#lista-1 li:nth-child(3) {
  font-variant: small-caps;
  background-color: burlywood;
}

#lista-2 li:nth-child(even) {
  font-variant: small-caps;
  background-color: burlywood;
}

p::first-line {
  font-size: 30px;
}

/* Se pueden poner numeros negativos */

p::first-letter {
  font-size: 40px;
  box-shadow: -5px -5px 10px black;
}

body {
  background-color: cornflowerblue;
}

#grupo {
    
    /* Paading uniforme */
    /* padding: 20px */

    /* Con todos los lados */
    /* padding: 5px 10px 15px 20px; */

    /* Con 3 valores */
    /* 10 pixceles a los costados */
    padding: 50px 10px 60px;

    /* Para especificar de manera mas visual los tamaños */
    /* 
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
     */

    /* 
    border: 20px dotted purple;
     */
    
    border-top: 5px groove lemonchiffon;
    border-right: 5px dashed lightcyan;
    border-left: 5px solid lightpink;
    border-bottom: 5px dotted lightsalmon;

    margin: 50px;
    box-sizing: border-box 150px;
    display: inline;
}

#cita{
    display: inline;
}

#huno{
    margin: 5px;
    border: 5px;
    padding: 30px;
    background-color: green;
    display: inline;
}
section{
    font-size-adjust: initial;
    border: 5px;
    padding: 20px;
    border-color: whitesmoke;
    background-color: whitesmoke;
    display: inline;
}
#htres{
    margin: 5px;
    border: 5px;
    padding: 30px;
    background-color: red;
    display: inline;
    
    
}
img{
    margin: 5px;
    background-color: white;
    padding: 20px;
    display: inline;
}

