
/* selector de tipo */


p {
    font-size: 80px; 
}

/* Selector por id */

#parrafo-sel-id {
    background-color: blueviolet;
    border-radius: 10px;
}

/*Selector de clase*/

.error{
    color: red;
    background-color: yellow;
}