p{
    font-size: 20px;
    line-height: 1.25;
}

.cont_bandera{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    border: 2px solid black;
}

.bandera-verde{
    border: 2px solid black;
    width: 55%;
    height: 100%;
    background-color: green;
}

.bandera-blanco{
    border: 2px solid black;
    width: 65%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandera-rojo{
    border: 2px solid black;
    width: 55%;
    height: 100%;
    background-color: red
}