html {
    font-size: 15px;
}

.u-em {
    background-color: blueviolet;
    font-size: 3rem;                                        
    width: 10rem;

/* 5em es igual a 5 veces el tamaño de fuentes del elemento 3rem (15*3)= 45 */
    padding: 5em 3em;
}

/* body {
    width: 50%;
    background-color: bisque;
} */

.u-porc {
    background-color: aqua;
    width: 50%;
    height: 200px;
}

.productos {
    background-color: rgb(72, 255, 0);
    width: 70vw;
    height: 100vh;
}

.overflow {
    background-color: rgb(255, 0, 128);
    width: 200px;
    height: 5em;
    overflow: scroll;
}
