@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.background-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/playa.jpg) rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}


.contenedor {
    background: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.enlace{
    text-decoration: none;
    color: white;
    background: black;
    margin-top: 20px;
    padding: 20px;
    display: inline-block;
    border: 1px solid black;
    transition: 100ms ease-in all;
}

.enlace:hover{
    background: white;
    color: black;
    border: 1px solid black;
}

@media screen and (max-width: 900px) {
    .contenedor{
        margin: 0px 10px 0px 10px;
    }
}