/* Selector de Tipo */
p {
    font-size: 8
    80px;
}

/* Selector por ID */
#parrafo-sel-id {
    background-color: blueviolet;
    border-radius: 10px;
}

/* Selector de Clase */
.error{
    color: red;
    background-color: yellow;
}

