/* selector de estilo*/


p{
    font-size: 20px;
}

/* selector de parrafo*/

#parrafo-sel-id{

    background-color: aquamarine;
    border-radius: 10px
}


/*selector de clase */

.error{

    color: red;
    background-color: yellow;
    
}
