#cuerpo {background-image: url("background.jpg");}

#title {color: blueviolet; font-size: 80px;}

#h2 {font-size: 40px; }
#css1:hover {font-size: 60px; -webkit-text-stroke: 1px white;}

#h2_1 {font-size: 40px; }
#css2:hover {font-size: 60px; -webkit-text-stroke: 1px white;}

#h2_2 {font-size: 40px; }
#banderaMex:hover {font-size: 60px; -webkit-text-stroke: 1px white;}

#h2_3 {font-size: 40px; }
#hobby:hover {font-size: 60px; -webkit-text-stroke: 1px white;}

#note {background-color: white; font-size: 40px;}
#perfil {color: blue; font-size: 40px;}