/* Selector adyacente */

.titulo + p {
     border-top: 3px solid blue;
}

.titulo:hover{
     background-color: red;
     color:white;
}

#lista-1 li:first-child {
     background-color: gold;
}

#lista-1 li:last-child {
     box-shadow: 5px 5px 5px green;
}

#lista-1 li:nth-child(4){
      font-variant: small-caps;
      background-color: blue;
}

#lista-2 li:nth-child(even){
     background-color: grey;
     color: white;
}

p::first-line {
     font-size: 30px;
}

p::first-letter{
     font-size: 80px;
     box-shadow: -5px -5px 10px black ;
}

#grupo {

     display: inline;
     padding: 50px 10px;
     
     padding: 50px 10px 80px 100px;

     padding-top: 50px;
     padding-right: 10px;
     padding-bottom: 80px;
     padding-left: 100px;

     border-top: 5px groove red;
     border-bottom: 10px dashed blue;
     border-left: 20px solid green;
     border-right: 5px solid gold;

     margin: 50px;

}
blockquote {
     display: inline;
}

#VIVAMEXICO{

     display: inline;
     padding: 40px 10px;
     
     padding: 50px 10px 80px 100px;

     padding-top: 250px;
     padding-right: 10px;
     padding-bottom: 10px;
     padding-left: 100px;

     border-top: 4px groove black;
     border-bottom: 4px groove black;
     border-left: 350px solid green;
     border-right: 350px solid red;

     margin: 50px;

}
blockquote {
     display: inline;
}

     
















