
/* Selector de tipo  */


p {
    font-size:80px;
}


/* Selector por id   */
#parrafo-sel-id {
    background-color: red;
    border-radius: 10px;
}

/* Selector por id   */

.error {
    color: red;
    background-color: yellow;

}