
    /* Selector de tipo */


    p {
        font-size: 80px;
    }

    /* Selector por id */

    #parrafo-del-id{
        background-color: aqua;
        border-radius: 19px;
    }

    .parrafo-clase{
        background-color: coral;
        border-radius: 19px;
    }

    .boton{
        background-color: brown;
        border-radius: 19px;
        font-size: 19px;
    }