* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: #7FBCD2;
    color: black;
    padding: 20px;
}

nav ul {
    background-color: #E1FFEE;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    color: black;
    padding: 10px;
    width: 200px;

}

nav li:hover {
    background-color: #A5F1E9;
}


.contenido {
    display: flex;
    margin: 200px;
}


.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
}

body{
    background-color: #FFFBE7;
}
