/* Selector adyacente*/

.titulo + p{
    border-top: 3px solid green;
}

.titulo:hover{
    background-color: aqua;
    color: black;
}

#Lista-2 li:first-child{
    background-color: blue;
}

#Lista-2 li:last-child{
    box-shadow: 5px 5px 5px aqua;
}

#Lista-1 li:nth-child(4) {
    font-variant: small-caps;
    background-color: green;
}

/* Se usa "odd" para pares e "even" para impares*/
#Litsa-2 li:nth-child(even){
    background-color: chartreuse;
    color: brown;
}

p::first-line{
    font-size: 80px;
}

p::first-letter{
    font-size: 80px;
    box-shadow: -5px -5px 10px black;
}

/* Se puede usar doted o solid*/
#Grupo {
    display: inline;
    /* Sí se deja solo50px sera para todos los lados*/
    padding: 50px;
    /* 50px arriba
       10px izq-der
       80px abajo */
    padding: 50px 10px 80px;
    
    padding: 50px 10px 80px 100px;

    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 100px;
    border: 50px solid tomato;
    border-top: 5px groove red;
    border-bottom: 10px dashed blue;
    border-left: 20px solid green;
    border-right: 5px solid gold;
    margin: 50px; 
}

blockquote{
    display: inline;
}

#Bandera {
    display: inline;
    padding: 50px;
    padding: 50px 10px 80px;
    padding: 50px 10px 80px 100px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 100px;
  
    padding-left: 100px;
    box-shadow: -5px -5px 10px black;
    border-left: 150px solid green;
    border-right: 150px solid red;
}