/*selector de tipo*/



p {
    font-size: 20px ;
}

/*selector por id */

#parrafo_sel_id {
    background-color: aquamarine;
    border-radius: 10px;
}

/*selector de clase*/

#otroparrafo{
    background-color: brown;
    border-radius: 50px;
    color: blueviolet;
}