/* Selector de tipo */

p {
    font-size: 80 px;
}

/* Selector por id */

#parrafo-sel-id {
    background-color: blueviolet;
    border-radius: 10 px;
}

/* Selector de clase */
.error {
    color: red;
    background-color: yellow;
}