/*selector adyacente*/
body{background:dimgrey;}

.titulo2 + p {
    border-top: 3px solid blue;
}

.titulo2:hover {
    background-color: blue;
    color: white;
}

ul li:first-child{
    background-color:blue;
}

ul li:last-child{
    box-shadow: 5px 5px 5px green;
}

ul li:nth-child(4){
    font-variant: small-caps;
    background-color:greenyellow;
    
}

p:first-line{
    font-size: 10px;

}


p::first-letter{
    font-size: 80px;
    box-shadow: -5px 5px 10px indigo;
}

p::first-line {
    font-size: 30pxß;
}

p::first-letter {
    font-size: 80px;
    box-shadow: -5px -5px 10px black;
}


#caja1 {
    /* display: inline; */
    /* 50px Todos los lados */
    padding: 50px;

    /* 50px Arriba y abajo 
       10px izq derecha*/
    padding: 50px 10px;


    padding: 50px 10px 80px 100px;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 100px;

    border: 50px solid red;

    border-top: 5px groove blue;
    border-bottom: 10px dashed purple;
    border-left: 20px solid darkblue;
    border-right: 5px solid yellow;
    margin: 50px; 
}

p:first-line{
    font-size: 10px;
}


p::first-letter{
    font-size: 80px;
    box-shadow: -5px 5px 10px indigo;
}



#bandera {
    padding: 5px 10px 15px 350px ;
    display: table
  }

#verde {
    background: green;
    display: table-cell;
    width: 200px;
    height:200px;
    border: 1px solid black; 
    
} 


#blanco{
    display: table-cell;
    width: 200px;
    height:200px;
    background: white;
    border: 1px solid black; 

}

#rojo{
    display: table-cell;
    width: 200px;
    height:200px;
    background: red;
    border: 1px solid black; 
}