/*selector adyacente*/
body{background:dimgrey;}

.titulo2 + p {
    border-top: 3px solid blue;
    color: aqua;
}

.titulo2:hover{
    background: purple;
    color: white;
}

ul li:first-child{
    background-color:blue;
}

ul li:last-child{
    box-shadow: 5px 5px 5px green;
}

ul li:nth-child(4){
    font-variant: small-caps;
    background-color:greenyellow;
    
}

p:first-line{
    font-size: 10px;

}


p::first-letter{
    font-size: 80px;
    box-shadow: -5px 5px 10px indigo;
}


#caja1{
    padding: 5px 10px 15px 80px ;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 1000;

    border: 50px solid blue;
    border-top: 5px groove red;
    border-bottom: 10px dashed blue;

    
    margin: 50px;
}

#bandera {
    padding: 5px 10px 15px 350px ;
    display: table
  }
#verde {
    background: green;
    display: table-cell;
    width: 200px;
    height:200px;
    border: 1px solid black; 
    
} 


#blanco{
    display: table-cell;
    width: 200px;
    height:200px;
    background: white;
    border: 1px solid black; 

}

#rojo{
    display: table-cell;
    width: 200px;
    height:200px;
    background: red;
    border: 1px solid black; 
}