body {background: grey;}

p {font-size: 20px;
   color: aqua;}

   /*selector por id*/
#id_jpd{font-size: 20px;
        color: blue;
        border-radius: 10px;
       }

    /*selector pot clase*/
#caja1 {font-size: 20px;
        color:rebeccapurple;
        border-radius: 70px;
        background-color: darkturquoise; }

p[lang]{background: yellow;
   border: 5px dashed black;
}

a[href^="https://ddlc.moe/"] {
    background-color: red;
}

a[href$="https://castlevania.fandom.com/es/wiki/Castlevania_Wiki2"]{
   background-color: yellow;}


/*selector por atributo buscando un valor si importar la posicion donde la posicion donde se encuentra */

a[href$="you"] {
   background-color: yellow;}

/*selector por decendiente*/
 
section > p {font-size: 25px;
}

#live ~ p {background:rebeccapurple;}